[user]
	email = amtc131@gmail.com
	name = amtc131
[merge]
	conflictStyle = diff3
[magit]
	hideCampaign = true
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
	defaultBranch = main
[credential]
	helper = store
